{% extends "base_auth.html" %}
{% block auth %}
<div class="isolate bg-white px-6 py-24 sm:py-32 lg:px-8">
    <div class="absolute inset-x-0 top-[-10rem] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[-20rem]" aria-hidden="true">
        <div class="relative left-1/2 -z-10 aspect-[1155/678] w-[36.125rem] max-w-none -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-40rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-balance text-4xl font-semibold tracking-tight text-gray-900 sm:text-5xl">Log in</h2>
        <p class="mt-2 text-lg/8 text-gray-600">Welcome to DashboardZ! Log in to access your personalized insights and resources.<p>
    </div>
    {% include "messages.html" %}
    <form action="{% url 'login' %}" method="POST" class="mx-auto mt-16 max-w-xl sm:mt-20">
        {% csrf_token %}
        <div class="sm:col-span-2">
            <label for="Username" class="block text-sm/6 font-semibold text-gray-900">Username</label>
            <div class="mt-2.5">
                <input type="text" name="username" id="username" {% if values.username %}value={{values.username}}{% endif %} class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
            </div>
        </div>
        <div class="sm:col-span-2 mt-3">
            <label for="Password" class="block text-sm/6 font-semibold text-gray-900">Password</label>
            <div class="mt-2.5 relative">
                <input type="password" name="password" id="password" class="block w-full rounded-md bg-white px-3.5 py-2 text-base text-gray-900 outline outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600">
                <button type="button" id="toggle-password" class="absolute inset-y-0 right-0 pr-3 flex items-center text-gray-600 hover:text-indigo-600">
                    <svg id="eye-slash" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                    </svg>
                    <svg id="eye-open" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5 hidden">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
                    </svg>
                </button>
            </div>
        </div>
        <div class="mt-10">
            <button type="submit" class="block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Log in</button>
        </div>
    </form>
    <p class="mt-6 text-center text-sm text-gray-600">
        Don't have an account? 
        <a href="{% url "register" %}" class="font-semibold text-indigo-600 hover:text-indigo-500">
            Sign up
        </a>
    </p>
    <p class="mt-1 text-center text-sm text-gray-600">
        Forgot Password? 
        <a href="{% url "reset-password" %}" class="font-semibold text-indigo-600 hover:text-indigo-500">
            Reset Passowrd
        </a>
    </p>
</div>

<script>
    const passwordField = document.getElementById('password');
  const toggleButton = document.getElementById('toggle-password');
  const eyeOpenIcon = document.getElementById('eye-open');
  const eyeSlashIcon = document.getElementById('eye-slash');

  toggleButton.addEventListener('click', () => {
    const isPassword = passwordField.type === 'password';
    passwordField.type = isPassword ? 'text' : 'password';
    eyeOpenIcon.classList.toggle('hidden', !isPassword);
    eyeSlashIcon.classList.toggle('hidden', isPassword);
  });
</script>
{% endblock auth %}
